Repository IronCoreLabs/recrypt-wasm-binding, changes with the owners that .github/CODEOWNERS names for each.
All owners: @IronCoreLabs/rust-dev, @IronCoreLabs/js-dev, @IronCoreLabs/ops

.github/CODEOWNERS:

* @IronCoreLabs/rust-dev
**.js @IronCoreLabs/js-dev
**.ts @IronCoreLabs/js-dev
/yarn.lock @IronCoreLabs/js-dev
/.github/ @IronCoreLabs/ops

Add stable toolchain
  .github/typescript-ci-patch.yaml
  .github/workflows/typescript-ci.yaml
Owners: @IronCoreLabs/ops

remove Recrypt's pbkdf2 function as all supported browsers can use webcrypto to do this now
  Cargo.lock
  Cargo.toml
  benchmark/index.ts
  benchmark/pbkdf2SHA256.ts
  lib/Api256Shim.ts
  lib/tests/Api256Shim.test.ts
  recrypt_wasm_binding.d.ts
  src/api256.rs
  src/lib.rs
Owners: @IronCoreLabs/rust-dev, @IronCoreLabs/js-dev

Try updating chrome
  .github/typescript-ci-patch.yaml
  .github/workflows/typescript-ci.yaml
Owners: @IronCoreLabs/ops

add yarn run compile
  .github/typescript-ci-patch.yaml
  .github/workflows/typescript-ci.yaml
Owners: @IronCoreLabs/ops

Update wasm-bindgen
  Cargo.lock
Owners: @IronCoreLabs/rust-dev

Remove coverage step
  .github/typescript-ci-patch.yaml
  .github/workflows/typescript-ci.yaml
Owners: @IronCoreLabs/ops

Use rust-install
  .github/typescript-ci-patch.yaml
  .github/workflows/typescript-ci.yaml
Owners: @IronCoreLabs/ops

update to recrypt 0.12
  Cargo.lock
  Cargo.toml
Owners: @IronCoreLabs/rust-dev

Cargo sort
  Cargo.toml
Owners: @IronCoreLabs/rust-dev

Update workflows
  .github/rust-ci-patch.yaml
  .github/rust-daily-patch.yaml
  .github/typescript-ci-patch.yaml
  .github/workflows/rust-ci.yaml
  .github/workflows/rust-daily.yaml
  .github/workflows/typescript-ci.yaml
Owners: @IronCoreLabs/ops

No coverage
  .github/rust-ci-patch.yaml
  .github/workflows/rust-ci.yaml
Owners: @IronCoreLabs/ops

updated changelog
  CHANGELOG.md
Owners: @IronCoreLabs/rust-dev

[#43] Removed fixBindgen script and MS Edge Legacy support (#45)
  .travis.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  benchmark/index.ts
  benchmark/pbkdf2SHA256.ts
  build.js
  fixBindgenShim.js
  lib/Api256Shim.ts
  lib/tests/Api256Shim.test.ts
  package.json
  recrypt_wasm_binding.d.ts
  src/api256.rs
  src/lib.rs
  src/util.rs
Owners: @IronCoreLabs/rust-dev, @IronCoreLabs/js-dev

PR changes
  .github/rust-ci-patch.yaml
  .github/rust-daily-patch.yaml
  .github/workflows/rust-ci.yaml
  .github/workflows/rust-daily.yaml
Owners: @IronCoreLabs/ops
